################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xamarin.Forms.Blazor.TestApp/bin/Debug/netstandard2.0
