################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xamarin.Forms.Blazor.TestApp/bin/Debug/netstandard2.0
/Xamarin.Forms.Blazor.TestApp/obj
/Xamarin.Forms.Blazor.TestApp.BlazorApp/bin/Debug/netstandard2.0
/Xamarin.Forms.Blazor.TestApp.BlazorApp/obj
/Xamarin.Forms.Blazor.TestApp.BlazorServer/bin/Debug/netcoreapp2.1
/Xamarin.Forms.Blazor.TestApp.BlazorServer/obj
/Xamarin.Forms.Blazor.TestApp.ReferenceApp/bin/x86/Debug
/Xamarin.Forms.Blazor.TestApp.ReferenceApp/obj
/Xamarin.Forms.Platform.Blazor/bin/Debug/netstandard2.0
/Xamarin.Forms.Platform.Blazor/obj
/.vs/Xamarin.Forms.Platform.Blazor/v15
/.vs/config
/Xamarin.Forms.Blazor.TestApp/bin/Release/netstandard2.0
/Xamarin.Forms.Blazor.TestApp.BlazorApp/bin/Release/netstandard2.0
/Xamarin.Forms.Blazor.TestApp.BlazorServer/bin/Release/netcoreapp2.1
/Xamarin.Forms.Blazor.TestApp.ReferenceApp/bin/x86/Release
/Xamarin.Forms.Platform.Blazor/bin/Release/netstandard2.0
/Testing/Xamarin.Forms.Blazor.TestApp.ReferenceApp/obj
/Testing/Xamarin.Forms.Blazor.TestApp.ReferenceApp/bin/x86/Debug
/Testing/Xamarin.Forms.Blazor.TestApp/obj
/Testing/Xamarin.Forms.Blazor.TestApp/bin/Debug/netstandard2.0
/.vs/Xamarin.Forms.Platform.Blazor/v16
/.vs/Xamarin.Forms.Platforms.Blazor/v16
/.vs/Xamarin.Forms.Platform.Blazor/DesignTimeBuild
/.vs
/Testing/Xamarin.Forms.Blazor.TestApp.ServerSideBlazor/bin/Debug/netcoreapp3.0
/Testing/Xamarin.Forms.Blazor.TestApp.ServerSideBlazor/obj
/Testing/Xamarin.Forms.Webassembly.TestApp/bin/Debug/netstandard2.0
/Testing/Xamarin.Forms.Webassembly.TestApp/obj
/Testing/Xamarin.Forms.Webassembly.TestApp.ReferenceApp/bin/x86/Debug
/Testing/Xamarin.Forms.Webassembly.TestApp.ReferenceApp/obj
/Xamarin.Forms.Platform.Webassembly/bin/Debug/netstandard2.1
/Xamarin.Forms.Platform.Webassembly/obj
/Xamarin.Forms.Platform.Webassembly.TestApp/bin/Debug/netstandard2.1
/Xamarin.Forms.Platform.Webassembly.TestApp/obj
